.main-container {
  padding-top: 8rem;
  min-height: 100vh;
  background-image: url("../img/background-large.png");
  background-size: cover;
}
.form-container {
  background-color: white;
  padding: 4rem;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
}

.custom-error-alert {
  border-radius: 1rem;
  margin: 6rem 1rem;
  background-color: #000000c7;
  color: white;
  border-color: #ee4f5fc7;
}

.custom-error-alert > .btn-close {
  fill: white;
  color: white;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}

.alert-span {
  color: #ff142bc7;
}
